.container_banner-animation-2 {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;

  &-img {
    opacity: 0;
  }

  &-text {
    text-align: center;
    font-family: $gotham-bold;
    font-size: 30px;
    color: white;
    opacity: 0;
  }

  &-conditions {
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 20px;
    margin: 0;
    font-family: $gotham-book;
    font-size: 12px;
    opacity: 0;

    span {
      font-family: $gotham-bold;
    }
  }
}