.container_banner-animation-4 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &-button {
    white-space: nowrap;
    padding: 10px 20px;
    z-index: 1;
    border-radius: 5px;
    font-size: 30px;
    font-family: $gotham-bold;
    background: white;
    opacity: 0;

    &:after {
      content: '';
    }
  }

  &-pizza {
    position: absolute;
    bottom: -130px;
    left: 25px;
    opacity: 0;
  }
}